html {
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(228, 57, 57);
    font-size: 16px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chartreuse;
}

p {
    width: 600px;
}