
/* ComingSoon */

/* **************************** */
    /* Allgemeines Styling */
/* **************************** */

* {
  margin: 0;
  padding: 0;
  bottom: 0;
  font-family: Helvetica, Arial, Droid-sans, sans-serif;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;

}

body {
  height: 100%;
  background: rgb(13, 7, 102) url('../images/rocket3.jpg') no-repeat
  top center fixed;
  background-size: cover;
  color: rgb(241, 177, 0); /* Header Farbe */
  text-align: center; 
}

/* Standart-Styling für den Wrapper und den Body auf großen Geräten 
@media screen and (min-width: 1024px) {
  body {
      background-image: rgb(24, 119, 122) url('../images/octopus.png');
  }
}*/

/* **************************** */
    /* Navigations Leiste */
/* **************************** */

.navbar-brand {
  color: rgb(223, 145, 28)!important;
  background-color: transparent !important;
  font-size: 20px;
}
.navbar-brand:hover {
  color: rgb(223, 28, 174)!important; 
}
.nav-link {
  color: rgb(223, 28, 174)!important;
  font-size: 20px;
}

.nav-link:hover {
  color: rgb(223, 145, 28)!important; 
}

/* ***************** */
  /* Inhaltsbereich */
/* ***************** */

a,
a:focus,
a:hover {
  color: #fff; 
}

.header {
  padding-bottom: 400px;
}

/* Custom Button */
.btn-default {
  color: rgb(241, 157, 32); /*Nachricht*/
  text-shadow: none;
  background-color: transparent;
  border: 2px solid #fff; /*Nachricht Rahmen*/
  border-radius: 20px;
  padding: 0.5rem 2rem; 
}

.btn-default:hover,
.btn-default:focus {
  background-color: rgba(241, 245, 247, 0.281); /* Button Background */
}

 /* Cover */
.cover {
  padding: 70px; 
}

.cover .btn-notify {
  padding: 10px 60px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 40px; 
}

.cover-heading {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 3rem;
  margin-bottom: 1rem; 
}

@media (min-width: 768px) {
  .cover-heading {
    font-size: 4.5rem;
    letter-spacing: 10px; } 
}

.cover-copy {
  max-width: 500px;
  margin: 0 auto 3rem; 
}
  
.mastfoot {
  color: #999;
  color: rgba(255, 255, 255, 0.5); 
}

/* Nachrichten Box */
#subscribeModal .modal-content {
  background-color: #303546;
  color: rgb(245, 163, 10); /*Benachrichtigung erhalten*/
  text-align: center; 
}

#subscribeModal .modal-header, #subscribeModal .modal-footer {
  border: 0; 
}

#subscribeModal .close {
  color: rgb(245, 163, 10); 
}

#subscribeModal .form-control {
  margin-top: 1rem;
  background: rgba(0, 0, 0, 0.4); /* E-Mail Hintergrund*/
  color: #fff; /* E-Mail Schriftfarbe*/
  text-align: center;
}

/* ***************** */
    /* Footer */
/* ***************** */

.footer {
  font-size: 80%;
  text-align: center;
  color: #f5a30c!important;
  
    position: absolute;
    width: 100%;
    min-height: 320px;
    bottom: 0px;
    left: 0;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
}

footer a {
  text-decoration: none;
}

footer a > span {
  font-size: 1.0rem;
}

    

