body {

/* Privacy */
    
/* *************************** */
    /* Allgemines Styling */
/* *************************** */
    
background-position: 50% 50%;
background-repeat: no-repeat;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;


}
    
/* ***************** */
  /* Inhaltsbereich */
/* ***************** */

#header {
  font-size: 100%;
  background-color: #fff;
  text-align: center;
  color: #333;
  padding: 5px;
  margin: 30px ;
}

a:link, a:visited,  a:hover, a:active
{
    color: #6b25ee;
    text-decoration: none;
}
