
/* Imprint */
    
/* **************************** */
    /* Allgemeines Styling */
/* **************************** */

* {
  margin: 0;
  padding: 0px; 
  bottom: 0;
  font-family: Helvetica, Arial, Droid-sans, sans-serif;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
}

body {
  background: rgb(142, 219, 219) url('../images/baloon.png') no-repeat
  top center fixed;
  background-size: cover;
}

/* Standart-Styling für den Wrapper und den Body auf großen Geräten
@media screen and (min-width: 1024px) {
  body {
      background-image: rgb(142, 219, 219) url('../images/baloon.png');
  } 
} */

/* *************************** */
    /* Navigations Leiste */
/* *************************** */

.navbar-brand {
color: rgb(67, 74, 143)!important;
background-color: transparent !important;
font-size: 20px;
}

.navbar-brand:hover {
  color: rgb(223, 28, 174)!important; 
}
.nav-link {
  color: rgb(223, 28, 174)!important;
  font-size: 20px;
}

.nav-link:hover {
  color: rgb(219, 104, 10)!important; 
}
   
/* ***************** */
  /* Inhaltsbereich */
/* ***************** */
 .header {
  padding-bottom: 30px;
 }   

.imprint {
  font-size: 100%;
  text-align: center;
  color: #333;
  margin-top: 10px;
  margin-bottom: 0px ;
  line-height: 24px;
  /* margin-right: 250px; */
}

.formular {
  margin-top: 40px;
  margin-bottom: 0px;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(0 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  margin-bottom: 0;
}

a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;
}

/* ***************** */
  /* Kontaktformular */
/* ***************** */

.contact

body {
    font-family: sans-serif;
}

textarea
{
    font-family: inherit;    
}

form {
    border: 1px solid black;
    width: 300px;
    height: 350px;
    background-color: rgb(219, 235, 234);
    margin: 0 auto;
    padding: 0 1em;
    border-radius: 0.8em;
}

form label {
    display: block;
    font-size: 0.8em;
    color: rgb(13, 14, 14);
    padding-left: 0px;    
}

input,
textarea
{
    width: 80%;
    font-size: 1.1em; 
    padding: 4px;
    font-family: inherit;
    font-weight: lighter;
    border:1px solid rgb(83, 83, 85);
    outline: none;
    border-radius: 0.3em;
}    

input:focus,
textarea:focus { 
    border:1px solid orange;
}

input[type=submit] {
    background-color: rgb(33, 32, 31);
    cursor: pointer;
    width: 6.5em;
    padding: .3em 0;
    border-radius: 1em;
    color: aliceblue;
}

input[type=submit]:hover {
    background-color: rgb(231, 125, 4);
    box-shadow: 2px 2px 2px grey;
}

/* ***************** */
  /* Footer */
/* ***************** */

.footer {
  text-align: center;         
  background-color: transparent;
  padding-top: 20px;
  position: relative;
}